

.container {
    width: 600px;
    text-align: center;
    color: rgb(255, 145, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    background-color: rgba(67, 124, 67, 0.678);

    

}

