#title {
    font-family: "Cookie", cursive;
    font-size: 200px;
    font-style: bold;
    color: orange;
    text-align: center;
    text-shadow: 3px 3px palevioletred;
}

.gamecontain {
    align-self: center;
    width: 600px;
    text-align: center;
    color: white;
    font-family: "Courgette", cursive;
    font-size: 40px;
    background-color: rgba(27, 64, 83, 0.92);
    border-style: solid;
    border-width: 3px;
    border-color: palevioletred;
    

}

/* body {
    background-size: 100%;
} */