#title {
    font-family: "Cookie", cursive;
    font-size: 200px;
    font-style: bold;
    color: orange;
    text-align: right;
}

.gamecontain {
    position: absolute;
    right: 50px;
    top: 300px;
    width: 600px;
    text-align: center;
    color: white;
    font-family: "Courgette", cursive;
    font-size: 40px;
    background-color: rgba(27, 64, 83, 0.92);

    

}

body {
    background-size: 100%;
}